.donate {
  display: flex;
  flex-direction: column;

  .banner {
    flex: 1 1 auto;
    padding-top: 0;

    img {
      width: 100%;
      top: 87px;
    }

    .banner-content {
      margin-top: 2.0em;
    }
  }
}