.activities {
  display: flex;
  flex-direction: column;
  height: auto;

  .banner {
    flex: 0 1 auto;
  }

  .wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    font-weight: 600;
    z-index: 200;
    overflow: visible;

    .next-event-section {
      flex: 0 1 75%;
      height: 100%;
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 1em;
      padding-bottom: 1em;

      .title {
        border-bottom: 1px solid gray;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .wrapper {
      display: flex;
      flex-direction: column;

      .next-event-section {
        flex: 0 1 auto;
        width: 100%;
      }

      .upcoming-events-section {
        flex: 0 1 auto;
        width: 100%;
        align-items: flex-start;
        padding-left: 2em;
        box-shadow: none !important;
      }
    }
  }
}