.activities {
  display: flex;
  flex-direction: column;

  .banner {
    flex: 0 1 auto;
  }

  .wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    font-weight: 600;
    z-index: 200;
    overflow: visible;

    .next-event-section {
      flex: 0 1 75%;
      padding-left: 2em;
      padding-top: 1em;
    }
  }
}