#header-wrapper {
  flex: 0 1 86px;
  width: 100%;
  min-height: 86px;
  padding: 4em 0 0 0 !important;
  z-index: 1000;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  // background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  // background: linear-gradient(175deg, #4D879C 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(175deg, #4D879C 0%, rgba(246,246,246,1) 70%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

  #nav {
    height: 86px;
    box-shadow: 0 1px 15px 1px rgb(48, 47, 47);
    z-index: 1000;

    ul {
      height: 86px;

      .menu-link {
        color: black;
        font-weight: 400;
      }

      li.active {
        display: block;
        height: 4em;
        line-height: 4em;
        background-color: #4D879C;
        border: solid 1px;
        border-top: 0;
        border-radius: 0 0 0.35em 0.35em;
        color: #fff;
        display: inline-block;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        border-color: none;
        box-shadow: 1px 0 15px 0 #4D879C;

        .menu-link {
          color: white;
        }
      }
    }
  }

  .menu-link {
    cursor: pointer;
  }

  #nav-logo {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 1em;
    width: 82px;
    height: 82px;

    img {
      width: 100%;
    }

    a {
      border-bottom: 0;
    }
  }
}