#header-wrapper {
  width: 100%;
  height: 100%;
  padding: 4em 0 0 0 !important;
  
  #hero {
    margin-top: 1em;
    width: 100% !important;
    height: 100%;
    background-image: url('../../assets/images/santi-vedri-resized.jpg');
    background-size: cover;

    img {
      width: 100%;
    }

    #hero-logo {
      position: absolute;
      bottom: 0em;
      left: 0;
      z-index: 1000;
      width: 100vw;
      // height: 20vw;
      border: 1px solid green;

      img {
        width: 60vw;
        // height: 100%;
        // margin-left: -8vw;
        border: 1px solid black;
      }
    }
  }

  #nav-logo {
    position: absolute;
    top: 0;
    right: 1em;
    width: 82px;
    height: 82px;

    img {
      width: 100%;
    }
  }
}