#header-wrapper {
  flex: 0 1 86px;
  width: 100%;
  min-height: 86px;
  padding: 4em 0 0 0 !important;
  z-index: 1000;

  #nav {
    height: 86px;
    box-shadow: 0 1px 15px 1px rgb(48, 47, 47);
    z-index: 1000;

    ul {
      height: 86px;
    }
  }

  .menu-link {
    cursor: pointer;
  }

  #nav-logo {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 1em;
    width: 82px;
    height: 82px;

    img {
      width: 100%;
    }

    a {
      border-bottom: 0;
    }
  }
}