.feature-row.wrapper {
  flex: 4 0 auto !important;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .container {
    margin-left: 0;
    margin-right: 0;
    width: 70vw;

    .triangle {
      position: absolute;
      left: 49vw;
      top: -2.5vw;
      width: 3.90vw;
      height: 3.90vw;
      background-color: #226B86;
      transform: rotate(45deg);
      box-shadow: 0 1px 5px 1px gray;
    }

    .features {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      height: auto;
    }
  }
}