.banner {
  flex: 0 1 auto;
  width: 100%;
  min-height: 20vh;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #226B86;
  color: white;
  font-family: 'Fjalla One', sans-serif;

  .question {
    font-size: 3vw;
  }

  .answer {
    margin-top: 4vh;
    font-size: 1.3vw;
  }
}