.feature-element {
  padding-top: 2.0em;
  padding-left: 0;

  .mission2 {
    width: 21.00vw;
    height: auto;
    color: black;
    font-size: 13px;
    line-height: 1.5;
    padding-right: 1em;
    font-family: 'lato';

    .icon {
      font-size: 42px;
      color: lightblue;
    }

    .mission-title {
      font-size: 32px;
      font-weight: 600;
      color: #752337;
    }

    .text {
      margin-top: 1em;
      font-size: 1.1em;
    }
  }
}

.feature-element:nth-child(1), .feature-element:nth-child(2), .feature-element:nth-child(3) {
  padding-top: 0.2em;
}

@media screen and (max-width: 480px) {
  .feature-element {
    text-align: center !important; 

    .mission2 {
      width: 30vw !important;

      .text {
        font-size: 0.7em;
      }
    }
  }
}