#header-wrapper{
  flex: 0 0 auto;
}
.about-us, .activities, .scholarships, .contact-us, .donate, #hero {
  flex: 5 0 auto;
}
#my-footer-wrapper {
  // flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 100;
}