.scholarship {
  height: auto;

  .section {
    width: 98%;
    height: auto;
    margin-left: 1vw;
    padding-top: 4vh;
    padding-bottom: 4vh;

    .section-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      height: auto;

      .content-image {
        flex: 0 1 30.55vw;

        img {
          width: 30.55vw;
        }
      }

      .content-text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 0 1.3vw;

        .header {
          display: flex;
          flex-direction: row;            
          justify-content: space-between;
          align-items: center;
          height: 7%;
          padding: 0 0.5em;
          background-color: #80001E;
          border: 1px solid #80001E;
          color: white;
          font-family: 'Lalezar', sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .body {
          height: 93%;
          padding: 1em;
        }
      }
    }

    @media screen and (max-width: 480px) {
      .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .content-image {
          width: 100%;

          img {
            width: 100%;
          }
        }

        .content-text {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          padding: 0 1.3vw;
  
          .header {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.scholarship2 {
  .section-content {
    flex-direction: row-reverse !important;  
  }
}

@media screen and (max-width: 480px) {
  .scholarship2 {
    .section-content {
      flex-direction: column !important;
    }
  }
}