.major {
  .page-title-text {
    font-size: 22px;
    text-align: left;
    padding-left: 3.2vw;
  
    span {
      color: #7D0B26;
      font-size: 28px;
      font-weight: 400;
    }
  }

  hr {
    
  }
  
  .page-top-text {
    font-size: 18px;
  }
}